/*
 * レイヤー3: MOUSE（本体から読み取った内容 + F位置に左クリック）
 */
LAYER(layer3, "MOUSE",
//  ── 左手 ─────────────────────────────────────────    ── 右手 ─────────────────────────────────────────
    &trans     &trans  &trans     &trans    &trans        &trans  &trans    &mkp MB3  &trans    &trans
    &trans     &trans  &trans     &mkp MB1  &trans        &trans  &trans    &trans    &trans    &trans
    &kp LCTRL  &trans  &trans     &trans    &trans        &trans  &trans    &trans    &trans    &trans
    &kp LSHFT  &trans  &kp LGUI   &kp LALT  &kp LCTRL     &trans  &trans    &trans    &to BASE  &kp RALT
)
